@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('PatrickHand-Regular.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: 'Patrick Hand', sans-serif;
}

.hidden {
  display: none;
}

.sr {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

body {
  color: #000;
  background-color: #eee;
  text-align: center;
}

input {
  text-align: center;
  font-family: 'Patrick Hand', sans-serif;
}

#app {
  display: grid;
  grid: 20vmin 10vmin 20vmin 20vmin 25vmin / 1fr;
  width: 100%;
}

#status {
  grid-row: 1;
}

#stats {
  grid-row: 2;
  font-size: 4vmin;
}

#question {
  grid-row: 3;
  font-size: 14vmin;
  font-weight: bold;
}

#answerForm {
  grid-row: 4;
}

#answer {
  font-size: 10vmin;
  font-weight: bold;
  width: 80%;
  border: 5px solid black;
  border-radius: 20px;
  padding: 1rem;
}

#emoji {
  grid-row: 5;
  font-size: 20vmin;
  font-weight: bold;
}

#emoji.green {
  color: #040;
}
#emoji.red {
  color: #800;
}

#score-container {
  font-size: 8vmin;
}

#level-container {
  font-size: 7vmin;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#startOver {
  font-size: 10vmin;
  font-family: 'Patrick Hand', sans-serif;
  color: #000;
  background-color: #fbc;
  padding: 1rem;
  border-radius: 1rem;
  border: 5px solid black;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #111;
  }
  #emoji.green {
    color: #4f4;
  }
  #emoji.red {
    color: #c44;
  }
  #startOver {
    color: #fff;
    background-color: #845;
    border-color: #fff;
  }
  #answer {
    border-color: #fff;
    color: #fff;
    background-color: #000;
  }
}
